.space {
	background: #eeeeee;
	border: 1px solid #aaaaaa;
	text-align: center;
	width: 100%;
	height: 100%;
	display: flex;
	cursor: pointer;
}

.space:hover {
	background: #dddddd;
}

.space.selected {
	background: #ffffff; 
}

.content {
	margin: auto;
}

.grass {
	background: #3ab757;	
}
.grass.selected {
	background: #32db59;	
}

.forest {
	background: #31683e;
}
.forest.selected {
	background: #4b8759;
}

.mountain {
	background: #59605a;
}
.mountain.selected {
	background: #bbbbbb;
}
